<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Sign up here</h2>
    <form class="" action="http://127.0.0.1:3000/process_post" method="get">
      <input type="text" name="name" placeholder="firstname"><br>
      <input type="text" name="name" placeholder="lastname"><br>
      <input type="text" name="username" placeholder="username"><br>
      <input type="password" name="password"placeholder="password"><br>
      <input type="submit" name="name" value="Signup">
    </form><br>
    Back to <a href="/">Home</a>Page<br>
  </body>
</html>
